*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Exo2, Arial, Helvetica, sans-serif;
}

.logo{
    position: absolute;
    width: 100px;;
    top: 60px;
    left: 20px;
}

ol, ul {
    list-style: none;
}

.pagecolor {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, #595958 -40%, #1d1c21 40%) ;   
}

.mainMenu {
    position: absolute;
    display: flex;
    justify-content: space-evenly; 
    width: 100vw;
    
}
.mainMenu li {
    text-align: center;
    width: 120px;
    float:left;
    margin-top: 40px;
}

.mainMenu a{
    color: white;
    text-decoration: none;
}
.mainMenu a.active{
    color: #c7b75d;
    text-decoration: underline;
}


.cornerelementlefthome{
    position: absolute;
    top: 30%;
    left: 20%;
    height: 150px; 
    width: 150px;   
    background: linear-gradient(135deg, #c7b75d -15%, #595958 90% );
    border-top-left-radius: 7px;
}

.cornerelementrighthome{
    position: absolute;
    right: 20%;
    bottom: 30%;
    height: 150px;
    width: 150px;   
    background: linear-gradient(315deg, #c7b75d -15%, #595958 90% );
    border-bottom-right-radius: 7px;
}

.cornerelemetshape1{
    clip-path: polygon(90% 5%, 5% 5%, 5% 90%, 0% 100%, 0 0, 100% 0);
}

.cornerelemetshape2{
    clip-path: polygon(95% 10%, 100% 0%, 100% 100%, 0% 100%, 10% 95%, 95% 95%);
}

.textcenter{   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textscalehome{
    font-size: clamp(15px, 3vw, 600px);
    color: white
}

.homeimg{
    border-radius: 100%;
    width: 100px
}

.textscaleervaring{
    padding: 20%;
    font-size: clamp(15px, 3vw, 20px);
    color: white
    
}

.cornerelementleftervaring{
    position: absolute;
    top: 30%;
    left: 15%;
    height: 150px; 
    width: 150px;   
    background: linear-gradient(135deg, #c7b75d -15%, #595958 90% );
    border-top-left-radius: 7px;
}

.cornerelementrightervaring{
    position: absolute;
    right: 15%;
    bottom: 30%;
    height: 150px;
    width: 150px;   
    background: linear-gradient(315deg, #c7b75d -15%, #595958 90% );
    border-bottom-right-radius: 7px;
}

.cornerelementleftcv{
    position: absolute;
    top: 150px;
    left: 15%;
    height: 150px; 
    width: 150px;   
    background: linear-gradient(135deg, #c7b75d -15%, #595958 90% );
    border-top-left-radius: 7px;
}

.cornerelementrightcv{
    position: absolute;
    right: 15%;
    bottom: 150px;
    height: 150px;
    width: 150px;   
    background: linear-gradient(315deg, #c7b75d -15%, #595958 90% );
    border-bottom-right-radius: 7px;
}

.cornerelementlefthobby{
    position: absolute;
    top: 100px;
    left: 120px;
    height: 150px; 
    width: 150px;   
    background: linear-gradient(135deg, #c7b75d -15%, #595958 90% );
    border-top-left-radius: 7px;
}

.cornerelementrighthobby{
    position: absolute;
    right: 120px;
    bottom: 100px;
    height: 150px;
    width: 150px;   
    background: linear-gradient(315deg, #c7b75d -15%, #595958 90% );
    border-bottom-right-radius: 7px;
}

.textscalehobby{
    padding-left: 10% ;
    padding-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: clamp(9px, 0.7vw, 15px);
    color: white
    
}

#textcenterhobby{   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 125px;
    margin-right: 125px;
}

.left{
    float: left;
    color:  white;
}

.hobbyimgleft{
    float: left;
    margin-right: 2%;
    width: 25%;
}

.hobbyimgright{
    float: right;
    margin-left: 2%;
    width: 25%;
}

.textscalecv{
    color: white;
}

/* CSS voor CV*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#textcentercv{   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.full {
	width: 60%;
	max-width: 1000px;
	min-height: 100px;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background: linear-gradient(70deg, #c7b75d -50%, #595958 50% );
	padding: 20px;

}
.right {
	position: initial;
	background: linear-gradient(70deg, #595958 50%, #c7b75d 170% );
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
tr{
    text-align: left;
}
/* CSS voor CV*/


/* Contact CSS*/
#textcentercontact{   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
label{
    color: white;
}
.hcolor{
    color: white;
}
.area {
    width: 60%; 
}
input, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }

