html{
    font-family: Exo2, Arial, Helvetica, sans-serif;
}

.pagecolor {
    background-color: #1d1c21;
}

ol, ul {
    list-style: none;
}
#mainMenu {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    
}
#mainMenu li {
    text-align: center;
    width: 120px;
    float:left;
    
}

#mainMenu a{
    color: white;
    text-decoration: none;
}
#mainMenu a.active{
    color: #c7b75d;
    text-decoration: underline;

}