body{
    background-color: #1d1c21;
}
p, h1, h2, h3, h4, h5, h6, ul, li, th, tr{
    color: white;
}

.navtext {
    color: green !important;
}

.bg-dark{
 background-color: rgb(72, 72, 72) !important;
}

.active{
    color: #c7b75d !important;
    text-decoration: underline;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-brand{
    color: #c7b75d !important;
    padding-left: 2%;
}

.homeimg{
    width: 7em;
    border-radius: 100%;
}
.cardHeight{
    height: 100% !important;
}

.area{
    background-color:  #c7b75d;
    border-radius: 10px;
    padding: 2%;
}

.subject-height{
 height: 150px;
}

.collor-effect{
 background-color: #c7b75d;
}